@model IEnumerable<Projeto_MVC.Models.Customers>

@{
    ViewData["Title"] = "Início";
}


<h1>Tabela de clientes</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                Nome
            </th>
            <th>
                Profissão
            </th>
            <th>
                Idade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td class="d-inline-flex">
                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-outline-success">Editar</a>
                <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-outline-info">Detalhes</a>
                <form asp-controller="Customer" asp-action="Delete" asp-route-id="@item.id" onclick="confirm('Deseja excluir o usuário @item.name')">
                    <button type="submit" class="btn btn-sm btn-outline-danger">Deletar</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
